.react-aria-Form {
  display: grid;
  gap: var(--size-fluid-2);

  & > * {
    margin: 0;
  }
}

.react-aria-TextField {
  display: grid;
  gap: var(--size-fluid-1);
  max-width: var(--size-sm);
  width: 100%;
}

.react-aria-Input {
  padding: var(--size-1) var(--size-2);
}
