@import "https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css";

:root {
  --container-width: 960px;
  --form-width: 360px;
  --space-sm: 0.6rem;
  --space: 1rem;
  --error-color: red;
}

body {
  max-width: var(--container-width);
  margin: auto;
  padding: var(--space);
}

body > header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  align-items: center;
}

body > header > h1 {
  font-size: 1.5rem;
}

body > header > nav {
  margin-left: auto;
  display: flex;
  gap: var(--space);
  align-items: center;
}

main {
  margin-top: calc(var(--space) * 2);
}

form {
  display: grid;
  gap: var(--space);
  max-width: var(--form-width);
}

form > div:has(input[type="text"]),
form > div:has(select) {
  display: grid;
  gap: var(--space-sm);
}

form > div > [id$="-error"] {
  color: var(--error-color);
}

label {
  display: block;
}

input[type="text"] {
  display: block;
  padding: calc(var(--space-sm) / 2) var(--space-sm);
  width: 100%;
}

select {
  display: block;
  padding: calc(var(--space-sm) / 2) var(--space-sm);
  width: 100%;
}
